* {
    padding: 0;
    margin: 0;
}

:root {
    --backgroundColor: rgb(0, 52, 87);
    --deletebackgroundColor: rgb(249, 53, 27);
    --hoverBack: rgb(1, 7, 11);
    --down-button-backgroundColor: rgb(1, 30, 62);
}

.container {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: var(--backgroundColor);
    padding: 1rem;
}

.all_services_top {
    display: flex;




}

.mode_title {
    border: 1px solid gray;
    padding: 1rem;
}

.all_services_top div {
    background-color: var(--backgroundColor);
    color: white;
    padding: 0.6rem;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    margin: 0.4rem;
    width: 10rem;
}

.all_services_top div:hover {
    background-color: var(--hoverBack);
    color: white;

}



.services {
    border-right: 2px solid gray;
    border-top: 2px solid gray;
    padding: 0.3rem;
    display: none;
}

.image_div {
    height: 6rem;
    background-color: gray;
    width: 6rem;
    margin: 1rem;

}

.logo {
    width: 100%;
    height: 100%;
}

.delete {
    background-color: var(--deletebackgroundColor);
    color: white;
    padding: 0.6rem;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    margin: 0.4rem;
    width: 7rem;
    display: none;
}

.show {
    display: block;
}

.settings_div {
    border: 2px solid rgba(128, 128, 128, 0.331);
    padding: 1rem;
    width: 60%;
}

.setting_top {

    border: 2px solid rgba(128, 128, 128, 0.331);
    padding: 1rem;
}

.setting_middle {
    border: 2px solid rgba(128, 128, 128, 0.331);
    padding: 1rem;
}

.title {
    width: 20rem;
}

.Description {
    width: 20rem;
    height: 5rem;

}

.button {
    border: none;
}

button {
    background-color: rgb(0, 65, 91);
    color: white;
    padding: 0.6rem;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    margin: 1rem;
    width: 10rem;
}



button:hover {
    background-color: rgb(1, 7, 11);
}

.button:active {
    outline: 2px solid white;
}


.button:focus {
    outline: 2px solid white;
}

.s3 {
    display: flex;
}

.container_left {

    background: linear-gradient(rgb(102, 50, 59), rgb(141, 11, 11));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 5rem;
    width: 50rem;
}

.top_left h1 {
    color: white;
}

.feature_button {
    background-color: red;
}


/*Website mode page css start */

.modes {
    display: flex;
}

.mode {
    background-color: var(--down-button-backgroundColor);
    color: white;
    margin-left: 0.4rem;
    padding: 1rem;
    cursor: pointer;
}

.mode_page {
    display: none;
}

/* Website mode page css end */